body{
  margin: 0px;
  background-image: url(https://resi.ze-robot.com/dl/de/desert-landscape-1920%C3%971080.jpg);
  background-position: bottom-;
  overflow: hidden;
  background-size: cover;
}
*{
  font-family: 'quicksand', sans-serif;
}

canvas{
  position: absolute;
  z-index: 2;
  width: 700px;
  height: 280px;
  top: 31.5%;
  left: 24.5%;
  border-radius: 10px;
}

#content{
  position: absolute;
  top: 31%;
  left: 31%;
  box-sizing: border-box;
}
#card-content{
  width: 50vw;
  height: 34vh;
  background-color: rgb(255, 226, 226);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: -5vw;
  margin-top: 20px;
  opacity: 0.9;
}
#myfilter{
  position: absolute;
  top: 31%;
  left: 25%;
  box-sizing: border-box;
  width: 700px;
  height: 280px;
  background-color: rgb(0, 0, 0);
  opacity: .4;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 4;
}
#load{
  position: absolute;
  top: 31%;
  left: 31%;
  box-sizing: border-box;
  width: 32.54vw;
  height: 34.1vh;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-size: 70px;
  font-family: 'silkscreen';
}
.username{
  display: flex;
  align-items: center;
  height: 45px;
  top: 31.5%;
  left: 31.5%;
  z-index: 3;
  position: absolute;
}
#jdl-card{
  position: absolute;
  left: 250px;
  top: -102px;
  width: 215px;
  height: 18px;
  background-color: #e3e3e3;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0px 0px 20px;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 25px;
  font-family: 'Silkscreen', cursive;
}
#user{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  left: -70px;
  top: 20px;
  
}
#user-title{
  margin-left: 5px;
  position: relative;
  font-weight: 700;
}
#player{
  font-weight: 700;
  margin-top: 60px;
  margin-left: -70px;
}
#bg{
  width: 1100px;
  position: absolute;
  top: -6%;
  left: 13.2%;
  z-index: -999;
}
.choose{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
}
.choose label{
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: 'Silkscreen', cursive;
}
.choose input{
  position: relative;
  left: 10px;
}
#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 49px;
  border: none;
  cursor: pointer;
}
#style1::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}
#style1::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}

.button{
  margin-top: -120px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.start-game input{
  border: none;
  background-color: rgb(72, 140, 241);
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Silkscreen', cursive;
  margin-left: -15vw;
  margin-top: 5vh;
}
.log-out input{
  border: none;
  background-color: rgb(241, 72, 72);
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Silkscreen', cursive;
  margin-left: 15vw;
  position: relative;
  top: -10vh;
}
#content-canvas{
  position: absolute;
}
#btn-canvas{
  display: flex;
  position: absolute;
  top: 60%;
  left: 32%;
  gap: 330px;
  z-index: 5;
}
#btn-try{
  border: none;
  background-color: rgb(72, 140, 241);
  padding: 3px;
  width: 90px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
#btn-exit{
  border: none;
  background-color: rgb(241, 72, 72);
  padding: 3px;
  width: 50px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

#game-over{
  font-family: 'silkscreen', cursive;
  font-size: 50px;
  position: absolute;
  top: -157px;
  left: 100px;
  cursor: default;
  color: #e3e3e3;
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 93.5%;
  left: 33vw;
  z-index: 1;
  font-size: 15px;
  font-family: 'Quicksand';
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px 20px 0px 20px;
  color: #e3e3e3;
}

.sosmed{
  margin: 15px 0px 0px 0px;
  display: flex;
  gap: 15px;
}

button{
  cursor: pointer;
}